*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(235, 152, 52,0.3),rgba(235, 152, 52,0.3)),url(whitey.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
div {


}

#tlo{
     
  width: 70%;
  border: 15px solid green;
  padding: 100px;
  margin: auto;

}