<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
 <title>Test Discord Site</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>


    <body>
        <section class="header">
        <nav>
            <a href="index.html"> <img src="PENG.png"></a>
            <div class="nav-links">
                <div class="container">
                    <div id="tlo">
                 <ul>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                </ul>
                    </div>
                </div>
            <ul>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                <li><a href="">METH</a></li>
                </ul>
            </div>
        </nav>
        
        </section>


    </body>
</html>